__pycache__
build
paper.synctex.gz
paper.run.xml
paper.out
paper.fls
paper.fdb_latexmk
paper.bcf
paper.aux
paper.bbl
paper.log
paper.pdf
paper.blg
paper.bbl-SAVE-ERROR
entropy.cpp
.vscode/settings.json
.cache
paper/paper.bcf-SAVE-ERROR
paper/paper.synctex(busy)
paper/paper.dvi
paper/paper.tex.bbl
paper/paper.tex.blg
paper/q.log
paper/references.bib.bbl
paper/references.bib.blg
